In [4]:
import pandas as pd
import numpy as np 
from matplotlib import pyplot as plt
%matplotlib inline
import matplotlib
matplotlib.rcParams["figure.figsize"] = (20,10)

## READ DATA

In [16]:
df1 = pd.read_csv('D:\study\TTCS\Data\Total.csv', encoding='latin1')
df1.head()

<>:1: SyntaxWarning: invalid escape sequence '\s'
<>:1: SyntaxWarning: invalid escape sequence '\s'
C:\Users\quynh\AppData\Local\Temp\ipykernel_2028\835435763.py:1: SyntaxWarning: invalid escape sequence '\s'
  df1 = pd.read_csv('D:\study\TTCS\Data\Total.csv', encoding='latin1')

,STT,Country,Continents,Rate of users\nInternet (%),Mobile device usage (%),Revenue of e-commerce platforms (billion USD),Revenue of IT industry (billion USD),Funding in digital infrastructure (billion USD),Foreign investment capital (million USD),CREDIT and BANKING digital transformation ratio(%),Number of Enterprises Applying Digital Transformation (bussiness),Economic Growth Rate of Education (% GDP),Number of technology start up businesses,Year
0,1,Algeria,Africa,22.0,98.0,0.60,0.85,0.10,-0.54,0.0,"15,000",4.2,850,2015
1,2,Angola,Africa,18.0,49.0,0.30,0.38,0.10,10.03,0.0,"20,000",3.6,200,2015
2,3,Benin,Africa,15.0,61.2,0.15,0.08,0.11,0.15,0.0,"12,000",3.6,90,2015
3,4,Botswana,Africa,24.0,80.0,0.25,0.22,0.08,0.38,0.0,"22,000",6.1,300,2015
4,5,Burkina Faso,Africa,5.5,71.0,0.12,0.11,0.07,0.23,0.0,"10,000",4.1,65,2015

In [30]:
df1.shape

(1280, 14)

In [26]:
df1.columns

Index(['STT', 'Country', 'Continents', 'Rate of users\nInternet (%)',
       'Mobile device usage (%)',
       'Revenue of e-commerce platforms (billion USD)',
       'Revenue of IT industry (billion USD)',
       'Funding in digital infrastructure (billion USD)',
       'Foreign investment capital (million USD)',
       'CREDIT and BANKING digital transformation ratio(%)',
       ' Number of Enterprises Applying Digital Transformation (bussiness) ',
       'Economic Growth Rate of Education (% GDP)',
       ' Number of technology start up businesses ', 'Year'],
      dtype='object')

In [38]:
df1['Country'].unique()

array(['Algeria', 'Angola', 'Benin', 'Botswana', 'Burkina Faso',
       'Burundi', 'Cabo Verde (Cape Verde)', 'Cameroon',
       'Central African Republic', 'Chad', 'Comoros',
       'Congo, Democratic Republic of the (DR Congo)',
       'Congo, Republic of the (Republic of the Congo)', 'Djibouti',
       'Egypt', 'Equatorial Guinea', 'Eritrea', 'Eswatini (Swaziland)',
       'Ethiopia', 'Gabon', 'Gambia', 'Ghana', 'Guinea', 'Guinea-Bissau',
       "Ivory Coast (Côte d'Ivoire)", 'Kenya', 'Lesotho', 'Liberia',
       'Libya', 'Madagascar', 'Malawi', 'Mali', 'Mauritania', 'Mauritius',
       'Morocco', 'Mozambique', 'Namibia', 'Niger', 'Nigeria', 'Rwanda',
       'Sao Tome and Principe', 'Senegal', 'Seychelles', 'Sierra Leone',
       'Somalia', 'South Africa', 'South Sudan', 'Sudan', 'Tanzania',
       'Togo', 'Tunisia', 'Uganda', 'Zambia', 'Zimbabwe', 'Canada',
       'The United States', 'Mexico', 'Belize', 'Costa Rica',
       'El Salvador', 'Guatemala', 'Honduras', 'Nicaragua', 'Panama',
       'Antigua and Barbuda', 'Bahamas', 'Barbados', 'Cuba', 'Dominica',
       'Dominican Republic', 'Grenada', 'Haiti', 'Jamaica',
       'Saint Kitts and Nevis', 'Saint Lucia',
       'Saint Vincent and Grenadines', 'Trinidad and Tobago', 'Argentina',
       'Bolivia', 'Brazil', 'Chile', 'Colombia', 'Ecuador', 'Guyana',
       'Paraguay', 'Peru', 'Suriname', 'Uruguay', 'Venezuela', 'The UK',
       'France', 'Spain', 'Albania', 'Austria', 'Belarus', 'Belgium',
       'Bulgaria', 'Croatia', 'Czech Republic', 'Denmark', 'Estonia',
       'Germany', 'Greece', 'Hungary', 'Italy', 'Luxembourg',
       'Netherlands', 'Bac Macedonia', 'China', 'Japan', 'South Korea',
       'India', 'Qatar', 'Saudi Arabia', 'Iran', 'Iraq', 'Nepal', 'Syria',
       'Jordan', 'Israel', 'Palestine', 'Türkiye', 'Sri Lanka',
       'Uzbekistan', 'Bahrain', 'Oman', 'Singapore', 'VietNam'],
      dtype=object)

In [40]:
df1['Country'].value_counts()

Country
Algeria       10
Angola        10
Belarus       10
Austria       10
Albania       10
              ..
Niger         10
Namibia       10
Mozambique    10
Morocco       10
VietNam       10
Name: count, Length: 128, dtype: int64

## Data cleanning

In [5]:
df1.drop('STT',axis = 'columns')

NameError: name 'df1' is not defined

In [7]:
#check null 
null_values = df1.isnull().sum()

# Value = 0
zero_values = (df1 == 0).sum()

print("The numbers is null:\n", null_values)
print("\n Equal 0 :\n", zero_values)

NameError: name 'df1' is not defined